body {
    font-family: Optima, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    margin-top: 100px;
    text-align: center;
    padding: 30px;
}

#home p {
    text-align: justify;
}

.profile-details {
    text-align: center;
    margin-top: 90px;
}

.profile-details h2 {
    margin: 0;
    font-size: 28px;
    font-family: Optima, sans-serif;
    font-weight: 250;
}

.profile-details p {
    margin: 0;
    font-size: 18px;
    color: #474646;
    font-family: Optima, sans-serif;
}

.cover-photo-container {
    position: relative;
    height: 200px;
    width: 100%;
}

.cover-photo {
    height: 75%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-picture {
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 220px;
    height: 200px;
    border-radius: 50%;
    border: 3px double #474646;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: translateX(-50%);
}

.social-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 10;
    position: relative;
}

.social-links {
    display: flex;
    gap: 18px;
}

.social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #f0f0f0;
    text-decoration: none;
    transition: background 0.3s ease;
}

.social-links a:hover {
    background-color: #ddd; /* Slightly darker on hover */
}

.social-links i {
    font-size: 20px;
    color: inherit; /* Use default icon colors */
}

h1 {
    font-size: 30px;
    margin: 0;
}

h3 {
    font-size: 18px;
    font-family: Optima, sans-serif;
    font-weight: 600;
}

.title {
    font-size: 18px;
    margin: 0;
    color: #5c5b5b;
}

.collapsible-list li {
    list-style-type: disc;
    line-height: 1.6;
}
  
.collapsible-list .date {
    display: inline-block;
    min-width: 100px;
    white-space: nowrap;
}

.hidden {
    display: none;
}

#read-more {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: rgb(0, 124, 213);
    font-weight: bold;
    cursor: pointer;
}

.project {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.project-thumbnail {
    width: 230px;
    height: 130px;
    margin-right: 20px;
    border: 0.4px solid #575656;
}

.project-details {
    flex: 1;
}

.project-details p {
    margin: 0px 0;
    font-size: 16px;
}

.pub-title {
    font-weight: bold;
}

.pub-venue {
    color: #474646;
    font-weight: bold;
}

.resume-container {
    text-align: center;
}

a {
    color: rgb(0, 124, 213);
    background-color: transparent;
    text-decoration: none;
}

nav {
    color: #ffffff;
    text-align: center;
    padding-top: 130px;
    background-color: transparent;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 7px;
    border-bottom: 1px solid #ccc;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    color: #1c1e21;
    text-decoration: none;
    font-size: 17px;
    padding: 5px 30px;
}

.tab.active {
    border-bottom: 3px solid #1a478a;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

h2 {
    margin-top: 0;
}

h3 {
    margin-top: 30px;
}

ul {
    margin-top: 10px;
    padding-left: 20px;
}

footer {
    display: flex;
    justify-content: center;
    line-height: 1.5;
    color: #5c5b5b;
    margin-top: 30px;
    border-top: 1px solid #ccc;
}
  
.footer-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    margin: 0 auto;
}
  
footer section {
    padding-left: 75px;
    background-color: #ffffff;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.grid-item {
    position: relative;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-item img {
    width: 120px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grid-item p {
    font-size: 14px;
    color: #333;
    margin: 2px 0;
    text-align: center;
}

.description {
    position: absolute;
    font-family: Optima, sans-serif;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.description a {
    color: rgb(0, 150, 255);
    background-color: transparent;
    font-family: Optima, sans-serif;
    text-decoration: none;
}

.grid-item:hover .description {
    visibility: visible;
    font-family: Optima, sans-serif;
    opacity: 1;
}

.click-icon {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 18px;
    cursor: pointer;
    z-index: 10;
}

.click-icon:hover {
    color: #007bff;
}

@media screen and (max-width: 768px) {
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        position: relative;
    }

    .hamburger-menu {
        display: block;
        position: absolute;
        left: 20px;
        top: 15px;
        font-size: 26px;
        cursor: pointer;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        background: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        padding: 10px 0;
    }

    .nav-links li {
        display: block;
        margin: 10px 0;
    }

    .nav-links.show {
        display: flex;
    }

    .dark-mode .nav-links {
        background: #181818;
    }

    .dark-mode .hamburger-menu {
        color: white;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    nav li {
        display: block;
        margin: 10px 0;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .cover-photo-container {
        height: 220px;
    }

    .cover-photo {
        height: 220px;
    }

    .profile-picture {
        width: 120px;
        height: 120px;
        bottom: -30px;
    }

    .profile-details {
        margin-top: 40px;
    }

    .profile-details {
        position: relative;
        z-index: 10;
        margin-top: 50px;
        text-align: center;

    }

    .profile-details h2 {
        font-size: 22px;
    }

    .profile-details p {

        font-size: 14px;
        margin-top: 10px;
    }

    body {
        font-size: 14px;
    }

    .tab {
        font-size: 14px;
        padding: 10px;
    }

    #darkModeToggle {
        top: 5px;
        right: 10px;
        font-size: 12px;
    }

    .project {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .project-thumbnail {
        width: 100%;
        height: auto;
        max-width: 300px;
    }

    .footer-columns {
        grid-template-columns: repeat(1, 1fr);
        text-align: justify;
        gap: 10px;
    }

    footer section {
        padding-left: 0;
        text-align: justify;
        padding: 10px;
    }

}